<nav class="NavigationBar">
    <div class="NavigationBar-brandContainer">
    <a class="NavigationBar-brand" href="/">LinaRico</a>
    <div id="hamburger" class="NavigationBar-hamburguerContainer">
        <div class="NavigationBar-hamburguer">
            <div class="NavigationBar-hamburguerLine"></div>
            <div class="NavigationBar-hamburguerLine"></div>
            <div class="NavigationBar-hamburguerLine"></div>
        </div>
     </div>
</div>
<div class="NavigationBar-menuContainer NavigationBar-menuContainer--hide">
    
    <ul class="NavigationBar-menu">

        <li class="NavigationBar-menuList"><a href="#porfolio">Portafolio</a></li>
        <li class="NavigationBar-menuList"><a href="#aboutme">Acerca de</a></li>
        <li class="NavigationBar-menuList"><a href="#contact">Contacto</a></li>
    </ul>
</div>

</nav>