:root{
    --color-primary: #f9bc60;
    --color-secondary: #abd1c6;
    --color-tertiary: #e16162;
    --white: #e8e4e6;
    --black:#001e1d;
    --green: #004643;
    --grey: #abd1c6;

    --background: var(--green);

    --font-size-base: 10px; /* TamaÃ±o de letra*/

    --font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif;/* Tipo de letra*/

    --font-color-heading: var(--white);

    --font-color-paragraph: var(--grey);

    --font-size-small: 1.5 rem;
    --paddig-base: 10px;

}

*{
  box-sizing: border-box;
}

html{
    background-color: var(--background);
    color: var(--color-font-paragraph);
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    
    


}

body{
    font-size: var(--font-size-small);
  

}

h1, h2, h3
{
   color: var(--font-color-heading);
}

p{
    color: var(--font-color-paragraph);

}

.NavigationBar {
    background-color: var(--color-primary);

 
   

}
.NavigationBar-brandContainer,
.NavigationBar-menuContainer{
padding-left: var(--paddig-base) ;
padding-right: var(--paddig-base) ;
}

.NavigationBar-menuContainer--hide{
    display: none;
}

.NavigationBar-menuContainer--show{
    display: block;
}


.NavigationBar-brandContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: .1rem solid var(--grey);
    
}

.NavigationBar-hamburguerContainer{
    border: 0.1rem solid var(--color-tertiary);
    border-radius: 0.4rem;
    padding: 0.9rem 1rem 0.5rem ;
    width: 4.5rem;

}

.NavigationBar-hamburguerContainer:hover{
    background-color: var(--color-tertiary);
    cursor: pointer;
}

.NavigationBar-hamburguerLine{
    background-color: var(--white);
    border-radius: 0.4rem;
    height: 0.3rem;
    margin-bottom: 0.4rem;
    
}


.NavigationBar-brand
{
    color: var(--white);
    display: block;
    font-size: 1.9rem;
    font-weight: bold;
    padding: 1.5rem 0;
    text-decoration: none;
    text-transform: uppercase;

}


.NavigationBar-brand:hover, 
.NavigationBar-menuList > a:hover{
    color: var(--color-secondary);
  }

  .NavigationBar-menu{
    padding: 1rem 0;
  }

  .NavigationBar-menuList{
    font-weight:  bold;
    text-transform: uppercase;
    padding: 1rem 0;
  }

  .NavigationBar-menuList > a{
    color: var(--white);
    display: block;
    text-decoration: none;
  }


